.github-ribbon {
    position: absolute;
    right: 0;
    top: 0;
    width: 150px;
    height: 150px;
    overflow: hidden;
    z-index: 99999;

    a {
        display: inline-block;
        width: 200px;
        overflow: hidden;
        padding: 6px 0;
        text-align: center;
        transform: rotate(45deg);
        text-decoration: none !important;
        color: rgb(255, 255, 255) !important;
        position: inherit;
        top: 45px;
        right: -40px;
        border-width: 1px 0;
        border-style: dotted;
        border-color: rgba(255, 255, 255, 0.7);
        font: 700 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
        box-shadow: rgba(0, 0, 0, 0.5) 0 2px 3px 0;
        background-color: rgb(170, 0, 0);
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    }
}
