::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #626262;
    border-radius: 10px;
}

/* firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #626262 transparent;
}
