@import "../palette.scss";

.tab-bar {
    user-select: none;
    width: 120px;
    flex-direction: column;
}

.tab {
    background: none;
    border: none;
    outline: none;
    padding: 6px;
    padding-top: 10px;
    padding-left: 10px;
    cursor: pointer;
    width: 120px;
    text-align: left;
    border-left: 2px solid transparent;

    &:focus {
        text-decoration: underline;
    }

    &.active {
        border-color: $orange;
    }

    i {
        margin-right: 10px;
        width: 15px;
    }
}

.tab-content.active, .tab.active {
    background: $transparent_bg;
}

.tab-content {
    border-radius: 10px;
    padding: 10px;
}
