# Build
dist/

# Node
node_modules/

server/reports
server/bannedIPs.json

# IDE garbage
.idea
.DS_Store
.vscode

# try to prevent chpster moments from happening
*.desktop
*.css
/.vs/suroi-fresh/FileContentIndex
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/suroi-fresh/v17/.wsuo
/.vs/suroi-fresh/v17/workspaceFileList.bin
/.vs/VSWorkspaceState.json
