:root{
  --backgroundColor: #568C64;
  --mainFont: Neo Fobia;

  --btnBottomRightColor: #555555;
  --btnBottomRightBorderColor: #3c3c3c;
  --btnBottomRightHover: #444444;

  --btnPlayColor: #9f7cf0;
  --btnPlayBottomBorderColor: #8b6cd4;;
  --btnPlayColorHover: #7a5eba;

  --btnDropdownMore: #008AFF;
  --btnDropdownMoreHover: #0073d7;
  --btnDropdownTextColor: white;
  --btnDropdownMoreContent: #008AFF;
  --btnDropdownMoreContentHover: #0079e3;
  --btnMoreBottomBorder: #007ae4;

}

body {
  background-color: var(--backgroundColor);
  /*text-align: center;*/
  margin: 0;
  padding: 0px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  font: var(--mainFont);
}

/* Chrome, Firefox, Opera, Safare 10.1+ */
::placeholder{
  font-family: var(--mainFont);
}

/* Microsoft Edge (sucks) */
::-ms-input-placeholder{
  font-family: var(--mainFont);
}

.h1 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 60px;
}

.article {
  margin-top: 20px;
  margin-bottom: 40px;
}

/* Buttons for selecting which game mode to play */
.buttonPlay {
  color: white;
  background:  var(--btnPlayColor);
  border: none;
  border-bottom: 2px solid var(--btnPlayBottomBorderColor);
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  font: 15px var(--mainFont);
  max-width: 150px;
  width: 50%;
  margin-top: 0px;
  box-shadow: inset 0 -2px var(--btnPlayBottomBorderColor);
  cursor: pointer;
  display: inline-block;
}

.buttonPlay:nth-child(2) {
  order: 1;
}

.buttonPlay:hover {
  background-color: var(--btnPlayColorHover);
  color: white;
}

/* Buttons for the bottom right, such as settings and volume control */
.button_bottomRight {
  color: white;
  background: var(--btnBottomRightColor);
  border: none;
  border-bottom: 2px solid var(--btnBottomRightBorderColor);
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  font: 25px var(--mainFont);
  max-width: 100px;
  max-height: 100px;
  margin-top: 10px;
  box-shadow: inset 0 -2px var(--btnBottomRightBorderColor);
  cursor: pointer;
}

.button_bottomRight:hover {
  background-color: var(--btnBottomRightHover);
  color: white;
}

/* Squads are Disabled */
.button_squads{
  color: white;
  background:  var(--btnPlayColor);
  border: none;
  border-bottom: 2px solid var(--btnPlayBottomBorderColor);
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  font: 15px var(--mainFont);
  max-width: 300px;
  width: 50%;
  margin-top: 10px;
  box-shadow: inset 0 -2px var(--btnPlayBottomBorderColor);
  cursor: not-allowed;
  opacity: 0.6;
}

.textbox-container {
  background: transparent;
}

textarea {
  width: 300px;
  outline: none;
  text-align: center;
  height: 60px;
  font-size: 23px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  box-sizing: border-box;
  resize: none;
  padding-top: 15px;
}

.menu-column {
  display: block;
  border-radius: 30px;
  text-align: center;
  background-color: rgba(22, 22, 22, 0.5);
  font: 60px var(--mainFont);
  padding: 20px;
  width: 480px;
  height: 180px;
  box-sizing: border-box;
  margin: 0;
  align-self: center;
  
}

/* Parties are disabled */
.button_Create_party{
  color: white;
  background:  var(--btnPlayColor);
  border: none;
  border-bottom: 2px solid var(--btnPlayBottomBorderColor);
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  font: 15px var(--mainFont);
  max-width: 300px;
  width: 50%;
  margin-top: 10px;
  box-shadow: inset 0 -2px var(--btnPlayBottomBorderColor);
  cursor: not-allowed;
  opacity: 0.6;
}

.bottom-right-menu{
  height: 50px;
  position: absolute;
  background-color: transparent;
  bottom: 0;
  right: 0;
  padding-bottom: 25px;
  padding-right: 20px;
}

.bottom-center-menu{
  height: 20px;
  position: absolute;
  background-color: transparent;
  bottom: 0;
  padding-bottom: 20px;
  display: inline-block;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  align-self: center;
}

.bottom-center-menu a {
  margin: 0 20px;
  color: white;
  text-decoration: none;
}

/* Dropdown button for the "More" menu */
.btn-dropdown-more{
  background-color: var(--btnDropdownMore);
  color: var(--btnDropdownTextColor);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  border-bottom: 2px solid var(--btnMoreBottomBorder);
  box-shadow: inset 0 -2px var(--btnMoreBottomBorder);
}

/* On hover/focus */
.btn-dropdown-more:hover, .btn-dropdown-more:focus{
  background-color: var(--btnDropdownMoreHover);
}

/* Dropdown content positioning */
.dropdown-more{
  float: left;
  position: relative;
  display: block;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 10px;
}

/* Dropdown content */
.dropdown-more-content{
  display: none;
  border-radius: 10px;
  position: absolute;
  background-color: var(--btnDropdownMoreContent);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: 10px;
  left: 0;
  overflow: auto;
}

/* Links on dropdown buttons */
.dropdown-more-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change dropdown color on hover */
.dropdown-more-content a:hover{
  background-color: var(--btnDropdownMoreContentHover);
  border-radius: 10px;
}

.dropdown-more-show{
  display: block;
}

.logo-home{
  align-self: center;
}
