body {
    background-color: rgb(86, 140, 100);
    text-align: center;

    margin: 0;
    padding: 100px;
    padding-bottom: 50px;
}

h1 {
    margin-bottom: 0px;
    font-size: 60px;
}

article {
    margin-top: 20px;
    margin-bottom: 40px;
}

button {
    color: black;
    border: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
}

button:hover {
    background-color: darkgrey;
    font-size: 105%;
}

footer {
    background-color: #f2f2f2;
    text-align: center;

    position: absolute;
    bottom: 0;

    font-size: 20px;
    width: 100%;

    padding: 30px;

    ul {
        display: inline-block;
        list-style: none;

        margin: 0;
        padding: 0;
    }

    li, p {
        display: inline-block;
        margin: 0 10px;
    }
}

.textbox-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

textarea {
    font-size: 15px;
    padding: 10px;

    width: 300px;
    height: 40px;

    border-radius: 10px;
    border: none;
}
