::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

* {
  scrollbar-color: #ccc transparent;
}

.btn {
  display: block;
  color: #ffffff !important;
  cursor: pointer;
  font-size: 20px;
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
  text-decoration: none !important;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3921568627);
}

.btn-lg {
  height: 45px;
}

.btn-darken {
  border: none;
  transition: filter 0.25s ease;
}

.link-darken:hover,
.link-darken:active,
.btn-darken:hover,
.btn-darken:active {
  color: inherit;
  filter: brightness(80%);
}

.btn-disabled {
  filter: brightness(80%);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.btn-primary {
  background: #008aff !important;
  border-bottom: 2px solid #007ae4 !important;
  box-shadow: inset 0 -2px #007ae4 !important;
}

.btn-secondary {
  background: #555555 !important;
  border-bottom: 2px solid #444444 !important;
  box-shadow: inset 0 -2px #444444 !important;
}

.btn-danger {
  background: #dc3545 !important;
  border-bottom: 2px solid rgba(22, 22, 22, 0.4588235294) !important;
  box-shadow: inset 0 -2px rgba(22, 22, 22, 0.4588235294) !important;
}

.btn-social {
  display: inline-block;
  height: 45px;
  width: 45px;
  margin: 4px 0;
  font-size: large;
  border: none;
  border-radius: 12px;
  background-size: 65%;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.btn-facebook {
  background-image: url("../../img/socials/facebook.svg");
  background-color: #3b579d !important;
  box-shadow: inset 0 -4px #253763;
}

.btn-twitter {
  background-image: url("../../img/socials/twitter.svg");
  background-color: #1da1f2 !important;
  box-shadow: inset 0 -4px #1a78b2;
}

.btn-instagram {
  background-image: url("../../img/socials/instagram.svg");
  background-color: #e4405f !important;
  box-shadow: inset 0 -4px #942b3f;
}

.btn-reddit {
  background-image: url("../../img/socials/reddit.svg");
  background-color: #ff4500 !important;
  box-shadow: inset 0 -4px #c23602;
}

.btn-discord {
  background-image: url("../../img/socials/discord.svg");
  background-color: #5865f2 !important;
  box-shadow: inset 0 -4px #4049ad;
}

.btn-youtube {
  background-image: url("../../img/socials/youtube.svg");
  background-color: #ff0000 !important;
  box-shadow: inset 0 -4px #8e0000;
}

.btn-github {
  background-image: url("../../img/socials/github.svg");
  background-color: #181717 !important;
  box-shadow: inset 0 -4px #111111;
}

.btn-bind {
  display: flex;
  font-size: 14px;
  margin-inline: 2.5% !important;
  width: 45% !important;
}

.btn-bind.active {
  outline: 5px solid #008aff;
}

input[type=range] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background: transparent;
  border-bottom: 5px solid transparent;
}
input[type=range]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  cursor: pointer;
  border: none;
  background: #ff7500;
  margin-top: -5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  cursor: pointer;
  border: none;
  background: #ff7500;
  margin-top: -5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin-top: -5px;
}
input[type=range]::-moz-range-track {
  height: 10px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  background: #f8f9fa;
}
input[type=range]::-webkit-slider-runnable-track {
  height: 10px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  background: #f8f9fa;
  background: var(--background);
}
input[type=range]::-moz-range-progress {
  height: 10px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  background: #f8f9fa;
  background: #ff7500;
}
input[type=range]:focus {
  outline: none;
  border-color: #008aff;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=checkbox] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  bottom: -2px;
  border: 0;
  outline: 0;
  cursor: pointer;
  margin-top: -1px;
  border-bottom: 2px solid transparent;
}
input[type=checkbox]:after {
  content: "";
  width: 40px;
  height: 20px;
  display: inline-block;
  background: #f8f9fa;
  border-radius: 18px;
  clear: both;
  transition: background linear 200ms;
}
input[type=checkbox]:before {
  content: "";
  width: 20px;
  height: 20px;
  padding: 2px;
  display: block;
  position: absolute;
  left: -2px;
  bottom: 2px;
  border-radius: 50%;
  background: #f8f9fa;
  transition: left linear 200ms;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}
input[type=checkbox]:checked:before {
  left: 20px;
}
input[type=checkbox]:checked:after {
  background: #ff7500;
}
input[type=checkbox]:focus {
  border-bottom: 4px solid #008aff;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Inter-Regular.woff") format("woff2"), url("../../fonts/Inter-Regular.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../../fonts/Inter-SemiBold.woff") format("woff2"), url("../../fonts/Inter-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../fonts/Inter-Bold.woff") format("woff2"), url("../../fonts/Inter-Bold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../../fonts/Inter-ExtraBold.woff") format("woff2"), url("../../fonts/Inter-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Russo One";
  font-display: swap;
  src: url("../../fonts/RussoOne-Regular.ttf") format("truetype");
}
* {
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
}

body, p, input, button, select {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #ffffff;
}

::-moz-placeholder {
  font-family: "Inter", sans-serif;
}

::placeholder {
  font-family: "Inter", sans-serif;
}

a, a:visited {
  color: #008aff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=leaderboard.css.map */