::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

* {
  scrollbar-color: #ccc transparent;
}

.btn {
  display: block;
  color: #ffffff !important;
  cursor: pointer;
  font-size: 20px;
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
  text-decoration: none !important;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3921568627);
}

.btn-lg {
  height: 45px;
}

.btn-darken {
  border: none;
  transition: filter 0.25s ease;
}

.link-darken:hover,
.link-darken:active,
.btn-darken:hover,
.btn-darken:active {
  color: inherit;
  filter: brightness(80%);
}

.btn-disabled {
  filter: brightness(80%);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.btn-primary {
  background: #008aff !important;
  border-bottom: 2px solid #007ae4 !important;
  box-shadow: inset 0 -2px #007ae4 !important;
}

.btn-secondary {
  background: #555555 !important;
  border-bottom: 2px solid #444444 !important;
  box-shadow: inset 0 -2px #444444 !important;
}

.btn-danger {
  background: #dc3545 !important;
  border-bottom: 2px solid rgba(22, 22, 22, 0.4588235294) !important;
  box-shadow: inset 0 -2px rgba(22, 22, 22, 0.4588235294) !important;
}

.btn-social {
  display: inline-block;
  height: 45px;
  width: 45px;
  margin: 4px 0;
  font-size: large;
  border: none;
  border-radius: 12px;
  background-size: 65%;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.btn-facebook {
  background-image: url("../../img/socials/facebook.svg");
  background-color: #3b579d !important;
  box-shadow: inset 0 -4px #253763;
}

.btn-twitter {
  background-image: url("../../img/socials/twitter.svg");
  background-color: #1da1f2 !important;
  box-shadow: inset 0 -4px #1a78b2;
}

.btn-instagram {
  background-image: url("../../img/socials/instagram.svg");
  background-color: #e4405f !important;
  box-shadow: inset 0 -4px #942b3f;
}

.btn-reddit {
  background-image: url("../../img/socials/reddit.svg");
  background-color: #ff4500 !important;
  box-shadow: inset 0 -4px #c23602;
}

.btn-discord {
  background-image: url("../../img/socials/discord.svg");
  background-color: #5865f2 !important;
  box-shadow: inset 0 -4px #4049ad;
}

.btn-youtube {
  background-image: url("../../img/socials/youtube.svg");
  background-color: #ff0000 !important;
  box-shadow: inset 0 -4px #8e0000;
}

.btn-github {
  background-image: url("../../img/socials/github.svg");
  background-color: #181717 !important;
  box-shadow: inset 0 -4px #111111;
}

.btn-bind {
  display: flex;
  font-size: 14px;
  margin-inline: 2.5% !important;
  width: 45% !important;
}

.btn-bind.active {
  outline: 5px solid #008aff;
}

input[type=range] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background: transparent;
  border-bottom: 5px solid transparent;
}
input[type=range]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  cursor: pointer;
  border: none;
  background: #ff7500;
  margin-top: -5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  cursor: pointer;
  border: none;
  background: #ff7500;
  margin-top: -5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin-top: -5px;
}
input[type=range]::-moz-range-track {
  height: 10px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  background: #f8f9fa;
}
input[type=range]::-webkit-slider-runnable-track {
  height: 10px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  background: #f8f9fa;
  background: var(--background);
}
input[type=range]::-moz-range-progress {
  height: 10px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  background: #f8f9fa;
  background: #ff7500;
}
input[type=range]:focus {
  outline: none;
  border-color: #008aff;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=checkbox] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  bottom: -2px;
  border: 0;
  outline: 0;
  cursor: pointer;
  margin-top: -1px;
  border-bottom: 2px solid transparent;
}
input[type=checkbox]:after {
  content: "";
  width: 40px;
  height: 20px;
  display: inline-block;
  background: #f8f9fa;
  border-radius: 18px;
  clear: both;
  transition: background linear 200ms;
}
input[type=checkbox]:before {
  content: "";
  width: 20px;
  height: 20px;
  padding: 2px;
  display: block;
  position: absolute;
  left: -2px;
  bottom: 2px;
  border-radius: 50%;
  background: #f8f9fa;
  transition: left linear 200ms;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}
input[type=checkbox]:checked:before {
  left: 20px;
}
input[type=checkbox]:checked:after {
  background: #ff7500;
}
input[type=checkbox]:focus {
  border-bottom: 4px solid #008aff;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Inter-Regular.woff") format("woff2"), url("../../fonts/Inter-Regular.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../../fonts/Inter-SemiBold.woff") format("woff2"), url("../../fonts/Inter-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../fonts/Inter-Bold.woff") format("woff2"), url("../../fonts/Inter-Bold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../../fonts/Inter-ExtraBold.woff") format("woff2"), url("../../fonts/Inter-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Russo One";
  font-display: swap;
  src: url("../../fonts/RussoOne-Regular.ttf") format("truetype");
}
* {
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
}

body, p, input, button, select {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #ffffff;
}

::-moz-placeholder {
  font-family: "Inter", sans-serif;
}

::placeholder {
  font-family: "Inter", sans-serif;
}

a, a:visited {
  color: #008aff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1;
}
.dropdown .dropdown-content a {
  display: flex;
  width: 100%;
  font-size: 14px;
  color: white;
  padding: 12px 16px;
}
.dropdown .dropdown-content a i {
  margin-left: 5px;
}
.dropdown .dropdown-content a:hover {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5019607843);
}
.dropdown .dropdown-content a:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.5019607843);
}
.dropdown .dropdown-content a:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5019607843);
}
.dropdown .dropdown-content a:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.dropdown .dropdown-content.active {
  display: block !important;
}

#splash-ui {
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #49993e;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-image: url("/public/img/backgrounds/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#splash-logo {
  display: flex;
  justify-content: center;
  margin: 50px auto 25px auto;
  width: 36%;
  min-width: 350px;
  max-width: 600px;
}
#splash-logo img {
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media screen and (max-height: 500px) {
  #splash-logo {
    margin-top: 10px;
  }
}

#splash-modals {
  display: flex;
  justify-content: center;
  width: 100vw;
  max-height: 299px;
  text-align: center;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  #splash-modals {
    flex-wrap: wrap;
    gap: 1rem;
  }
  #splash-modals #splash-options {
    order: 1;
  }
  #splash-modals #splash-news {
    order: 2;
  }
  #splash-modals #splash-featured-people {
    order: 3;
  }
  #splash-modals #splash-inventory {
    order: 4;
  }
}

#splash-news,
#splash-options,
#splash-inventory,
#splash-server-message,
#splash-rotate-message {
  background: rgba(22, 22, 22, 0.4588235294);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  width: 370px;
  padding: 20px;
  border-radius: 20px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#splash-news,
#splash-options,
#splash-inventory,
#splash-server-message,
#server-select {
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3921568627);
}

#splash-rotate-message {
  font-size: 16px;
  margin-bottom: 10px;
}

.spin {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  top: 3px;
  margin-right: 1px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
#splash-news, #splash-inventory {
  height: 312px;
}

#splash-news h2 {
  font-size: 18px;
  font-weight: bold;
  color: #ff7500;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}
#splash-news h2 a {
  color: inherit;
  text-decoration: inherit;
}
#splash-news h2 a:hover {
  color: #ff9c11;
}
#splash-news ::-webkit-scrollbar-track {
  margin-bottom: 15px;
}
#splash-news > div {
  height: 240px;
  overflow-y: auto;
  padding-right: 10px;
  text-align: left;
}
#splash-news > div article {
  margin-bottom: 10px;
}
#splash-news > div article .news-date {
  color: #ccc;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}
#splash-news > div article .news-title {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
#splash-news > div article span {
  color: white;
  font-size: 13px;
  margin-bottom: 15px;
}
#splash-news > div article p {
  margin-top: 0;
  font-size: 15px;
  line-height: 130%;
}

#splash-server-message {
  margin-bottom: 15px;
}
#splash-server-message span {
  color: red;
}

#splash-center {
  margin-right: 15px;
  max-width: 370px;
}

#splash-options {
  width: 100%;
}
#splash-options #username-input {
  background: white;
  color: black;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: transparent;
  transition: 0.15s box-shadow;
  font-size: 18px;
  text-align: center;
}
#splash-options #username-input:focus,
#splash-options #username-input:active,
#splash-options select:focus,
#splash-options select:active {
  outline: none;
  box-shadow: 0 1px 9px 6px rgba(255, 117, 0, 0.5);
  -webkit-box-shadow: 0 1px 9px 6px rgba(255, 117, 0, 0.5);
  -moz-box-shadow: 0 1px 9px 6px rgba(255, 117, 0, 0.5);
}
#splash-options #username-input::-moz-placeholder {
  font-size: 18px;
}
#splash-options #username-input::placeholder {
  font-size: 18px;
}
#splash-options select {
  color: white;
  background: transparent url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%23ffffff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m2 5 6 6 6-6%27/%3e%3c/svg%3e") no-repeat right 10px center;
  background-size: 15px 15px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 3px solid #ff7500;
  transition: 0.15s box-shadow;
  font-size: 18px;
  -moz-text-align-last: center;
       text-align-last: center;
  line-height: 1.5;
  padding: 0.375rem 2.25rem 0.375rem 2.25rem;
}
#splash-options select option {
  color: black;
}
#splash-options .btn {
  font-size: 18px;
  width: 100%;
}

#splash-socials {
  margin-top: 14px;
  display: flex;
  justify-content: center;
  gap: 10px;
  background: rgba(22, 22, 22, 0.4588235294);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  padding: 20px;
  border-radius: 20px;
  margin-left: 8px;
  margin-right: -8px;
}

#splash-inventory {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.568627451);
}

#splash-featured-people {
  position: absolute;
  top: 16px;
  left: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (max-width: 1300px) {
  #splash-featured-people {
    flex-direction: row;
  }
}
@media screen and (max-width: 1000px) {
  #splash-featured-people {
    position: static;
    flex-direction: column;
    margin-right: 1.5rem;
  }
}
#splash-featured-people .featured-container {
  background: rgba(22, 22, 22, 0.4588235294);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  height: -moz-fit-content;
  height: fit-content;
}
@media screen and (max-width: 1200px) {
  #splash-featured-people .featured-container {
    padding: 5px 10px 5px 10px;
  }
}
#splash-featured-people .featured-heading {
  font-weight: bold;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 12px;
}
@media screen and (max-width: 1200px) {
  #splash-featured-people .featured-heading {
    font-size: 16px;
  }
}
#splash-featured-people .featured-logo {
  width: 36px;
}
@media screen and (max-width: 1200px) {
  #splash-featured-people .featured-logo {
    width: 30px;
  }
}
#splash-featured-people .featured-content {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  color: #ffc800;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3921568627);
  text-decoration: none;
}
#splash-featured-people .featured-name {
  font-size: 16px;
}
@media screen and (max-width: 1200px) {
  #splash-featured-people .featured-name {
    font-size: 14px;
  }
}

#splash-more {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
#splash-more button {
  width: 136px;
}
#splash-more .dropdown-content {
  background: #008aff;
  top: 34px;
  right: 0;
}

#splash-settings {
  display: flex;
  position: absolute;
  bottom: 0.5rem;
  right: 0.75rem;
}
#splash-settings .btn {
  width: 51px;
  height: 40px;
}
#splash-settings *:not(:last-child) {
  margin-right: 5px;
}

#splash-backlinks {
  position: absolute;
  bottom: 0.5rem;
  left: 0.75rem;
  font-size: 16px;
}
#splash-backlinks a {
  color: white;
}

body {
  background: #3d3e48;
}

#news-page {
  background: rgba(22, 22, 22, 0.5019607843);
  width: 80%;
  max-width: 1200px;
  margin: auto auto 50px;
  border-radius: 15px;
}
#news-page h1 {
  color: #ff7500;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 50px;
}
#news-page article {
  width: 80%;
  background-color: rgba(8, 18, 43, 0.5019607843);
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 25px;
  border-radius: 5px;
}
#news-page article .news-date {
  color: gray;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
}
#news-page article .news-title {
  color: #008aff;
  font-size: 28px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
}
#news-page article span {
  color: white;
  font-size: 14px;
  margin-bottom: 15px;
}
#news-page article .short-desc {
  font-size: 15px;
  margin-bottom: 20px;
}
#news-page article .long-desc {
  font-size: 16px;
  line-height: 150%;
}
#news-page article .news-banner {
  display: flex;
  margin: auto;
}
#news-page article img {
  height: auto;
  margin: auto;
  max-width: 90%;
}/*# sourceMappingURL=news.css.map */