@use "../../palette.scss";
@use "../../variables.scss";
@use "../../utils/dropdown.scss";

#splash-ui {
    display: block;

    overflow-y: auto;
    overflow-x: hidden;

    background-color: palette.$bg;

    width: 100%;
    height: 100%;
    z-index: 100;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#splash-logo {
    display: flex;
    justify-content: center;

    margin: 50px auto 25px auto;

    width: 36%;
    min-width: 350px;
    max-width: 600px;

    img {
        width: 100%;
        user-select: none;
    }

    @media screen and (max-width: 800px) {
        margin-top: 10px;
    }

    @media screen and (max-height: 500px) {
        min-width: 300px;
        margin-top: 10px;
    }

    @media screen and (max-width: variables.$screen_medium) and (max-height: variables.$screen_medium) {
        margin: 16px auto 2.5px auto;
    }
}

#splash-modals {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 16px;

    width: 100vw;
    max-height: 299px;

    text-align: center;

    font-size: 20px;

    @media screen and (max-width: variables.$screen_medium) and (max-height: variables.$screen_medium) {
        gap: 8px;
        max-height: unset;

        button span {
            font-size: 16px;
        }

        #splash-options,
        #splash-customize,
        #splash-socials,
        #splash-rotate-message,
        #splash-server-message,
        #splash-customize,
        #splash-news {
            max-width: 300px;
        }

        #splash-customize {
            width: 300px !important;
            height: auto !important;
            padding: 15px;
            border-radius: 15px;
            margin-right: 20px;
        }
    }

    @media screen and (max-width: variables.$screen_large) {
        gap: 8px;
        max-height: unset;
        padding-left: 8px;
        padding-right: 8px;

        #splash-options,
        #splash-customize,
        #splash-socials,
        #splash-rotate-message,
        #splash-server-message,
        #splash-news {
            max-width: 300px;
        }

        #splash-socials > div {
            gap: 5px;

            .btn {
                width: 36px;
                height: 36px;
                font-size: 16px;

                img {
                    height: 24px;
                }
            }
        }

        #splash-customize {
            gap: 8px;

            #skin-container {
                transform: scale(90%);
            }

            div:last-child {
                width: 100%;
                flex-direction: column !important;
                gap: 8px !important;
            }

            button {
                font-size: 18px;
            }
        }
    }

    @media screen and (max-width: 800px) {
        flex-direction: column;
        align-items: center;
        padding: 5px;

        #splash-options,
        #splash-customize,
        #splash-socials,
        #splash-rotate-message,
        #splash-server-message,
        #splash-news {
            max-width: 375px;
        }

        #splash-center {
            order: 1;
        }

        #splash-featured-people {
            order: 2;
            flex-direction: column;
            width: unset;
        }

        #splash-news {
            order: 3;
        }

        #splash-customize {
            order: 4;
            margin-bottom: 16px;
        }
    }
}

.pulsating-circle {
    position: absolute;
    top: 5px;
    left: 15px;
    width: 30px;
    height: 30px;
}

.pulsating-circle:before {
    content: "";
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 45px;
    background-color: white;
    -webkit-animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.pulsating-circle:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    -webkit-animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
}

@-webkit-keyframes pulse-ring {
    0% {
        transform: scale(0.33);
    }

    80%,
    100% {
        opacity: 0;
    }
}

@keyframes pulse-ring {
    0% {
        transform: scale(0.33);
    }

    80%,
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes pulse-dot {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.8);
    }
}

@keyframes pulse-dot {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.8);
    }
}

#btn-rules {
    margin-top: 10px;

    &.highlighted {
        background-color: palette.$orange;
        border-bottom: 2px solid palette.$orange_bg;
        box-shadow: inset 0 -2px palette.$orange_bg;

        &>.pulsating-circle {
            display: block !important;
        }
    }
}

#rules-close-btn {
    position: relative;
    margin-top: -50px;
    right: -10px;
    float: right;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    border-radius: 50%;
    background-color: palette.$danger;
    cursor: pointer;
  }


#splash-news,
#splash-options,
#splash-customize,
#splash-server-message,
#splash-rotate-message,
#splash-hw-acceleration-warning {
    background: palette.$transparent_bg;
    width: 370px;

    padding: 20px;
    border-radius: 20px;

    @media screen and (max-width: variables.$screen_large) {
        padding: 15px;
    }
}

.blur {
    #splash-news,
    #splash-options,
    #splash-customize,
    #splash-server-message,
    #splash-rotate-message,
    #splash-socials,
    #splash-hw-acceleration-warning,
    #splash-backlinks,
    .featured-container,
    .server-list-item {
        backdrop-filter: blur(8px);
    }
    .create-team-server-list-item {
        backdrop-filter: blur(8px);
    }
}


#splash-news,
#splash-options,
#splash-customize,
#splash-server-message {
    @include variables.text-shadow;
}

#splash-hw-acceleration-warning {
    text-align: center;
    justify-content: center;
    margin: 5px auto 5px auto;
}

#splash-rotate-message {
    font-size: 16px;
    margin-bottom: 10px;
}

#splash-news,
#splash-customize {
    height: 312px;
}

#splash-news {
    h2 {
        font-size: 18px;
        font-weight: bold;

        color: palette.$orange;
        text-align: center;

        margin-top: 0;
        margin-bottom: 10px;

        a {
            color: inherit;
            text-decoration: inherit;
        }

        a:hover {
            color: #ff9c11;
        }
    }

    ::-webkit-scrollbar-track {
        margin-bottom: 15px;
    }

    >div {
        height: 240px;
        overflow-y: auto;
        padding-right: 10px;

        text-align: left;

        article {
            margin-bottom: 10px;

            &:not(:first-child) {
                margin-top: 25px;
            }

            .news-date {
                color: #ccc;
                font-size: 14px;

                margin-top: 5px;
                margin-bottom: 5px;
            }

            .news-title {
                color: white;
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 5px;
            }

            span {
                color: white;
                font-size: 13px;
                margin-bottom: 15px;
            }

            p, i {
                margin-top: 0;
                font-size: 15px;
                line-height: 130%;
            }

            p:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

#splash-server-message {
    margin-bottom: 15px;

    span {
        color: red;
    }
}

#splash-center {
    max-width: 370px;
}

#splash-customize {
    display: flex;
    flex-direction: column;
    gap: 16px;

    #skin-container {
        position: relative;
        width: 153px;
        height: 147px;

        #skin-base {
            position: absolute;
            top: 0;
            left: 9px;
            width: 130px;
            height: 130px;
            background-size: cover;
            mask-size: cover;
            background-blend-mode: multiply;
            transform: rotate(90deg);
        }

        #skin-left-fist,
        #skin-right-fist {
            position: absolute;
            top: 96px;
            width: 50px;
            height: 50px;
            background-size: cover;
            mask-size: cover;
            background-blend-mode: multiply;
            transform: rotate(90deg);
        }

        #skin-right-fist {
            right: 6px;
        }
    }
}

#splash-options {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 312px;

    #splash-options-wrapper {
        flex: 1 1 auto;
        transition: filter 0.5s;
    }

    #loader-container {
        opacity: 0;
        transition: opacity 0.5s;
    }

    &.loading {
        pointer-events: none;

        #loader-container {
            opacity: 1;
        }

        #splash-options-wrapper {
            filter: blur(3px);
        }
    }

    #username-input {
        background: white;
        color: black;

        width: 100%;
        height: 50px;

        border-radius: 10px;
        border: transparent;

        transition: 0.15s box-shadow;

        font-size: 18px;
        text-align: center;

        @include variables.drop-shadow;
    }

    #username-input:focus,
    #username-input:active,
    select:focus,
    select:active {
        outline: none;
        box-shadow: 0 1px 9px 6px rgba(255, 117, 0, 0.5);
        -webkit-box-shadow: 0 1px 9px 6px rgba(255, 117, 0, 0.5);
        -moz-box-shadow: 0 1px 9px 6px rgba(255, 117, 0, 0.5);
    }

    #username-input::placeholder {
        font-size: 18px;
    }

    #btn-server-select {
        background: transparent;
        color: white;

        width: 100%;
        height: 50px;

        padding: 0.375rem 1rem 0.375rem 1rem;

        margin-top: 10px;
        margin-bottom: 10px;

        border: 3px solid palette.$orange;
        border-radius: 10px;

        transition: 0.15s box-shadow;

        font-size: 18px;
        text-align-last: center;
        line-height: 1.5;

        display: flex;
        align-items: center;

        filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.5));

        i {
            // caret
            margin-left: 10px;
            margin-top: -2px;
        }
    }

    .btn {
        font-size: 18px;
        width: 100%;
    }

    #btn-play-solo, #btn-play-duo {
        margin-bottom: 5px;
    }

    .team-btns-container {
        display: flex;
        gap: 5px;
    }

    .locked {
        filter: brightness(70%) blur(2px);
        pointer-events: none;
        animation: none;

        & .btn, &.btn {
            color: transparent;
            text-shadow: none;
            img {
                display: none;
            }
        }
    }

    #next-switch-messages {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        pointer-events: none;
        display: flex;
        gap: 20px;
    }

    .next-switch-msg {
        display: flex;
        align-items: center;
        gap: 7px;
    }

    .next-switch-time {
        font-family: "JetBrains Mono", monospace;
        font-size: 18px;
        @include variables.text-shadow;
    }

    .next-switch-icon {
        width: 28px;
        height: 28px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        @include variables.drop-shadow;
    }

    #locked-tooltip {
        position: absolute;
        top: calc(50% + 60px);
        left: 50%;
        transform: translate(-50%, -50%);
        @include variables.text-shadow;

        background-color: palette.$bg;
        padding: 8px;
        border-radius: 16px;
        width: 330px;
        font-size: 16px;
    }
}

#btn-create-team-server-select {
    background: transparent;
    color: white;

    width: 100%;
    height: 50px;

    padding: 0.375rem 1rem 0.375rem 1rem;

    margin-top: 10px;
    margin-bottom: 10px;

    border: 3px solid palette.$orange;
    border-radius: 10px;

    transition: 0.15s box-shadow;

    font-size: 18px;
    text-align-last: center;
    line-height: 1.5;

    display: flex;
    align-items: center;

    i {
        // caret
        margin-left: 10px;
        margin-top: -2px;
    }
}

#server-list {
    z-index: 1000;
    width: calc(100% - 40px);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    margin: 0;
    padding: 0;
    border-radius: 10px;
    border: 2px solid #ff7500;

    .server-list-item {
        list-style-type: none;
        display: flex;
        padding: 10px 18px 10px 18px;
        font-size: 18px;
        color: white;
        text-shadow: none;
        user-select: none;
        cursor: pointer;
        transition: filter 0.25s ease;
        background-color: rgba($color: #000000, $alpha: 0.8);

        &:hover {
            filter: brightness(80%);
        }

        &:first-child {
            border-top: 1px solid rgba($color: #000000, $alpha: 0.8);
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            padding-top: 12px;
        }

        &:last-child {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            padding-bottom: 12px;
        }
    }

    img {
        display: inline-block;
    }
}

#create-team-server-list {
    z-index: 1000;
    width: calc(100% - 40px);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    margin: 0;
    padding: 0;
    border-radius: 10px;
    border: 2px solid #ff7500;
    width: 255px;

    .create-team-server-list-item {
        list-style-type: none;
        display: flex;
        padding: 10px 18px 10px 18px;
        font-size: 18px;
        color: white;
        text-shadow: none;
        user-select: none;
        width: 250px;
        cursor: pointer;
        transition: filter 0.25s ease;
        background-color: rgba($color: #000000, $alpha: 0.8);

        &:hover {
            filter: brightness(80%);
        }

        &:first-child {
            border-top: 1px solid rgba($color: #000000, $alpha: 0.8);
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            padding-top: 12px;
        }

        &:last-child {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            padding-bottom: 12px;
        }
    }

    img {
        display: inline-block;
    }
}

#splash-socials {
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: palette.$transparent_bg;
    padding: 20px;
    border-radius: 20px;

    @media screen and (max-width: variables.$screen_large) {
        padding: 15px;
    }

    & > div {
        width: 100%;
        display: flex;
        gap: 8px;
        justify-content: space-evenly;

        a {
            flex: 1 1 0;
        }
    }
}

#splash-customize {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff91;
}

#splash-featured-people {
    position: absolute;
    top: 16px;
    left: 16px;

    display: flex;
    flex-direction: row;
    gap: 16px;

    @media screen and (max-width: variables.$screen_large) {
        width: 200px;
    }

    @media screen and (max-width: 1280px) {
        flex-direction: column;
        gap: 8px;
    }

    @media screen and (max-width: 800px) {
        position: static;
        max-width: 370px;
        flex-direction: row !important;
    }

    @media screen and (min-width: 800px) and (max-height: 500px) {
        gap: 5px;
        transform: scale(75%);
        top: -8px;
        left: -16px;
    }

    .featured-container {
        background: palette.$transparent_bg;
        border-radius: 10px;
        padding: 10px 20px;
        width: fit-content;
        height: 90px;

        @media screen and (max-width: 1280px) {
            height: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;
            padding: 15px;
        }

        @media screen and (max-width: 800px) {
            flex-direction: column;
            gap: 8px;
            max-height: 83px;
            flex-grow: 1;
        }
    }

    .featured-heading {
        font-weight: bold;
        font-size: 18px;
        margin-top: 5px;
        margin-bottom: 12px;

        @include variables.text-shadow;

        @media screen and (max-width: 1280px) {
            margin: 0;
            font-size: 16px;
        }

        @media screen and (max-width: 1280px) and (min-width: 800px) {
            width: min-content;
        }
    }

    .featured-content {
        display: inline-flex;
        align-items: center;
        gap: 5px;
        color: #ffc800;
        @include variables.text-shadow;
        text-decoration: none;
    }

    .featured-name {
        font-size: 16px;

        @media screen and (max-width: 1200px) {
            font-size: 14px;
        }
    }
}

#splash-more {
    position: absolute;
    right: 1rem;
    top: 1rem;

    button {
        width: 136px;
    }

    .dropdown-content {
        background: palette.$blue;

        top: 34px;
        right: 0;
    }
}

#splash-version, #splash-partners {
    position: absolute;
    bottom: 0.5rem;
    z-index: 10000;

    font-size: 16px;
    @include variables.text-shadow;

    a {
        color: white;
    }

    @media screen and (max-width: 500px), (max-height: 500px) {
        background-color: palette.$bg;
        @include variables.drop-shadow;
        padding: 4px 8px;
        border-radius: 8px;
    }
}

#splash-version {
    left: 0.75rem;
}

#splash-partners {
    right: 0.75rem;
}

.event-winter {
    background-color: #dcdcdc;
    border-bottom: 2px solid #c2c1c1;
    box-shadow: inset 0 -2px #c2c1c1;
    animation: mode-winter-color 4s linear infinite;
}

.event-fall {
    background-color: #72742f;
    border-bottom: 2px solid #535421;
    box-shadow: inset 0 -2px #535421;
    animation: mode-fall-color 4s linear infinite;
}

.event-halloween {
    background-color: #5a0e0e;
    border-bottom: 2px solid #450b0b;
    box-shadow: inset 0 -2px #450b0b;
    animation: mode-halloween-color 4s linear infinite;
}

.event-infection {
    background-color: hsl(310, 35%, 50%);
    border-bottom: 2px solid hsl(310, 35%, 40%);
    box-shadow: inset 0 -2px hsl(315, 35%, 40%);
    animation: mode-infection-color 4s linear infinite;
}

@keyframes mode-winter-color {
    0% {
        background-color: #dcdcdc;
        border-bottom: 2px solid #c2c1c1;
        box-shadow: inset 0 -2px #c2c1c1;
    }
    50% {
        background-color: #aaa8a8;
        border-bottom: 2px solid rgb(134, 133, 133);
        box-shadow: inset 0 -2px rgb(134, 133, 133);
    }
    100% {
        background-color: #dcdcdc;
        border-bottom: 2px solid #c2c1c1;
        box-shadow: inset 0 -2px #c2c1c1;
    }
}


@keyframes mode-fall-color {
    0% {
        background-color: #72742f;
        border-bottom: 2px solid #535421;
        box-shadow: inset 0 -2px #535421;
    }
    50% {
        background-color: #535421;
        border-bottom: 2px solid #373710;
        box-shadow: inset 0 -2px #373710;
    }
    100% {
        background-color: #72742f;
        border-bottom: 2px solid #535421;
        box-shadow: inset 0 -2px #535421;
    }
}

@keyframes mode-halloween-color {
    0% {
        background-color: #5a0e0e;
        border-bottom: 2px solid #450b0b;
        box-shadow: inset 0 -2px #450b0b;
    }
    50% {
        background-color: #440b0b;
        border-bottom: 2px solid #380909;
        box-shadow: inset 0 -2px #380909;
    }
    100% {
        background-color: #5a0e0e;
        border-bottom: 2px solid #450b0b;
        box-shadow: inset 0 -2px #450b0b;
    }
}

@keyframes mode-infection-color {
    0% {
        background-color: hsl(310, 35%, 50%);
        border-bottom: 2px solid hsl(310, 35%, 40%);
        box-shadow: inset 0 -2px hsl(315, 35%, 40%);
    }
    50% {
        background-color: hsl(310, 45%, 50%);
        border-bottom: 2px solid hsl(310, 45%, 40%);
        box-shadow: inset 0 -2px hsl(315, 45%, 40%);
    }
    100% {
        background-color: hsl(310, 35%, 50%);
        border-bottom: 2px solid hsl(310, 35%, 40%);
        box-shadow: inset 0 -2px hsl(315, 35%, 40%);
    }
}
