@use "../main.scss";
@use "../palette.scss";

@use "client/splash.scss";
@use "client/game.scss";
@use "client/floatingWindow.scss";
@use "client/console.scss";
@use "client/debugMenu.scss";
@use "dialog.scss";

body {
  background: palette.$grass_bg;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;

  margin: 0;
  padding: 0;
}

#splash-ui, #game {
  opacity: 1;
}

#initial-loader {
  display: none;
  animation: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: palette.$transparent_bg;
  max-width: 350px;
  width: 100%;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  .modal-item input[type="range"] {
    display: block;
    width: 100%;
    margin: 0.7rem 0;
  }

  .modal-item > button {
    margin: 0.2rem 0;
    width: 100%;
    display: inline-block;
  }
}

.modal-locked { // temporary
  opacity: .25;
  pointer-events: none;
}
