@import "../utils/tabs.scss";
@import "../palette.scss";

#settings-menu,
#report-modal,
#warning-modal {
    background-color: $bg;
    max-width: 450px;
}

#reporting-name {
    margin-left: 5px;
}

#report-modal-content, #warning-modal-content {
    padding: 1rem;

    p {
        margin-top: 13px;
        margin-bottom: -5px;
    }

    h4 {
        margin-bottom: 10px;
    }

    ol {
        margin-top: 0;
    }
}

#report-id-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#report-id {
    font-size: 50px;
    font-family: monospace;
}

#customize-menu {
    background-color: #3e8235;
    max-width: 850px;
}

// TODO Refactor this, make classes
.dialog {
    user-select: none;
    box-shadow: 0 0 10px #000000c8;
    padding: 0 !important;
    border-radius: 10px !important;
    overflow: hidden;
    z-index: 101;

    .dialog-header {
        $headerHeight: 45px;
        display: flex;
        height: $headerHeight;
        align-items: center;

        h3 {
            margin-left: 15px;
            display: flex;
            @include text-shadow;
        }

        .dialog-close-btn {
            margin-left: auto;
            text-align: center;
            line-height: $headerHeight;
            width: $headerHeight;
            height: $headerHeight;
            cursor: pointer;
        }
    }

    #settings-tabs-container,
    #customize-tabs-container {
        display: flex;
    }

    #skin-name {
        position: absolute;
        bottom: 0;
        padding-bottom: 10px;
        padding-top: 10px;
        z-index: 1000;
        background-color: #49993e;
        width: 100%;
        font-size: 35px;
        font-weight: bold;
    }

    #skins-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        height: 100%;

        .skins-list-item-container {
            width: 140px;
            height: 170px;
            padding: 8px;
            margin: 8px;
            border: 5px solid transparent;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
            cursor: pointer;

            &.selected {
                border-color: $orange;
            }
        }

        .skins-list-item {
            position: relative;
            width: 102px;
            height: 98px;

            .skin-base {
                position: relative;
                top: 0;
                left: 6px;
                width: 90px;
                height: 90px;
                transform: rotate(90deg);
            }

            .skin-left-fist,
            .skin-right-fist {
                position: absolute;
                top: 64px;
                width: 34px;
                height: 34px;
                transform: rotate(90deg);
            }

            .skin-right-fist {
                left: 68px;
            }
        }

        .skin-name {
            font-weight: bold;
            @include text-shadow;
            text-align: center;
        }
    }

    #tab-emotes-content {
        display: flex;
        gap: 10px;
        height: 100%;
    }

    #emote-customize-wheel {
        position: relative;
        align-self: center;
        flex-shrink: 0;

        .emote-top,
        .emote-right,
        .emote-bottom,
        .emote-left {
            cursor: pointer;
            z-index: 10;
        }
    }

    #emotes-list {
        overflow-y: scroll;
        flex-grow: 1;
        display: grid;
        //flex-direction: column;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 8px;

        .emotes-list-item-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            border: 5px solid transparent;
            border-radius: 10px;
            padding: 5px;
            background-color: $transparent_bg;

            &.selected {
                border-color: $orange;
            }
        }

        .emotes-list-item {
            width: 84px;
            height: 84px;
            flex-shrink: 0;
        }

        .emote-name {
            font-weight: bold;
            @include text-shadow;
        }
    }

    #tab-crosshairs-content {
        display: flex;
        gap: 10px;
        height: 100%;
    }

    #crosshair-customize {
        display: flex;
        flex-direction: column;
    }

    #crosshair-controls {
        display: flex;
        flex-direction: column;
        width: 320px;
        position: relative;

        &.disabled {
            .modal-item {
                pointer-events: none;
                filter: blur(5px);
            }

            #crosshair-controls-disabled {
                display: block !important;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                font-size: 22px;
                @include text-shadow;
            }
        }

        .modal-item {
            margin-top: 0 !important;
        }
    }

    #crosshair-preview {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
    }

    #crosshair-image {
        background-size: contain;
        background-repeat: no-repeat;
    }

    #crosshairs-list {
        overflow-y: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        justify-content: flex-start;
        align-content: flex-start;

        .crosshairs-list-item-container {
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;
            border: 3px solid transparent;
            border-radius: 10px;
            padding: 5px;
            background-color: $transparent_bg;

            width: 100px;
            height: 100px;

            &.selected {
                border-color: $orange;
            }
        }

        .crosshairs-list-item {
            height: 80px;
            width: 80px;
        }

        .crosshair-name {
            font-weight: bold;
            @include text-shadow;
            text-align: center;
        }
    }

    @media screen and (max-width: 654px) {
        #emotes-list {
            gap: 5px;

            .emotes-list-item-container {
                border-width: 3px;
            }

            .emotes-list-item {
                width: 42px;
                height: 42px;
                background-size: contain;
            }
        }

        #emote-customize-wheel {
            width: 191px;
            height: 191px;
            background-size: contain;

            &>div {
                width: 56px;
                height: 56px;
                background-size: contain;
            }

            .emote-top {
                top: 9px;
                left: 67px;
            }

            .emote-right {
                right: 9px;
                top: 67px;
            }

            .emote-bottom {
                bottom: 9px;
                left: 67px;
            }

            .emote-left {
                left: 9px;
                top: 67px;
            }
        }
    }

    @media screen and (max-width: 530px) {
        #emote-customize-wheel {
            width: 143px;
            height: 143px;

            &>div {
                width: 42px;
                height: 42px;
            }

            .emote-top {
                top: 7px;
                left: 51px;
            }

            .emote-right {
                right: 7px;
                top: 51px;
            }

            .emote-bottom {
                bottom: 7px;
                left: 51px;
            }

            .emote-left {
                left: 7px;
                top: 51px;
            }
        }
    }

    @media screen and (max-width: 475px) {
        #tab-emotes-content {
            flex-wrap: wrap;
            justify-content: center;
        }

        #tab-crosshairs-content {
            flex-wrap: wrap;
            justify-content: center;
        }

        #emotes-list {
            padding-bottom: 16px;
        }

        #crosshairs-list {
            padding-bottom: 16px;
        }
    }

    #settings-tabs,
    #customize-tabs {
        width: 100%;
        height: 380px;
        max-height: 80vh;
        overflow-y: auto;
    }

    #settings-tabs {
        background: $transparent_bg;

        #tab-keybinds-content {
            #keybind-clear-tooltip {
                border: 2px solid gray;
                border-radius: 10px;
                padding: 7px;
                background-color: lighten($transparent_bg, 30%);
            }

            .modal-item:not(:last-child) {
                div.settings-title {
                    width: 100%;
                }

                button.btn-bind {
                    width: 45%;
                    margin-inline: 2.5%;
                }
            }
        }
    }

    #customize-tabs {
        background: #49993e;
    }

    #customize-tab-bar .tab {
        @include text-shadow;
        padding-top: 7px;

        &.active {
            background: #49993e;
        }

        &>img {
            position: relative;
            top: 3px;
            margin-right: 5px;
            @include drop-shadow;
        }
    }

    .tab-content {
        width: 100%;
        border-radius: 0;
    }

    .setting-title {
        margin: 0.2em;
        font-weight: bold;
        font-size: 16px;
        @include text-shadow;

        i {
            color: red;
        }
    }

    .modal-item {

        &.checkbox-setting {
            margin-bottom: 20px;
        }

        &:not(:first-child) {
            margin-top: 1em;
        }

        input[type="checkbox"],
        input[type="color"] {
            float: right;
        }

        .range-input-value {
            @include text-shadow;
            float: right;
        }
    }

    &.in-game {
        background-color: $transparent_bg;
        box-shadow: none;
    }
}
