 body {
     box-sizing: border-box;
     padding: 0;
     font-family: "Inter", sans-serif;
     margin: 0 auto;
     background-image: url("/img/logos/embed_background.png");
     background-size: cover;
     background-repeat: no-repeat;
     width: 100%;
 }

 .fixed-header {
     position: fixed;
     width: 100%;
     top: 0;
     left: 0;
     background: #343a40;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
     z-index: 1000;
 }

 #header-inside {
     padding: 10px;
     margin: 0 auto;
     display: flex;
     align-items: center;
     max-width: 90%;
 }

 .leaderboard-btn {
     color: white;
     text-decoration: none;
     font-size: 15px;
     padding: 10px;
     border-radius: 4px;
     transition: 0.2s ease;
     display: inline-block;
 }

 .suroi-btn {
     border: 1px solid rgb(1, 100, 1);
     color: white;
     text-decoration: none;
     font-size: 15px;
     padding: 10px;
     border-radius: 4px;
     transition: 0.2s ease;
     display: inline-block;

     img {
         width: 60px;
     }
 }

 .suroi-btn:hover {
     background: rgb(5, 206, 5);
 }

 main {
     margin: 0 auto;
     max-width: 90%;
     margin-top: 80px;
 }

 #profile-container {
     background-color:
         #343a40;
     width: 90%;
     min-width: 0;
     gap: 10px;
     margin: 0 auto;
     padding: 10px;
     display: flex;
     border-radius: 6px;
 }

 #profile-pic {
     width: 80px;
     padding: 10px;
     background-color: #80af49;
     border-radius: 4px;
     img{
        width: 100%;
     }
 }


 #player-user-name {
     color: #fff;
     font-size: 24px;
     font-weight: bold;
 }

 #all-stats-container {
     display: flex;
     gap: 10px;
     width: 90%;
     place-items: center;
     margin: 0 auto;
 }

 @media (max-width: 900px) {
     #all-stats-container {
         flex-direction: column;
     }
 }


 .mode-card {
     background-color: #343a40;
     width: 100%;
     min-width: 0;
     margin: 0 auto;
     margin-top: 10px;
     border-radius: 4px;
     flex: 1;
     overflow: hidden;
 }

 .mode-card .header {
     background-color: #80af49;
     padding: 6px;
     border-top-right-radius: 4px;
     border-top-left-radius: 4px;
 }

 .mode-card .header h2 {
     color: #fff;
     margin: 0;
     font-size: 20px;
 }

 .mode-card .stats {
     display: flex;
     flex-direction: column;
     gap: 10px;
     padding: 10px;
     justify-content: center;
 }

 .mode-card .row {
     padding: 10px;
     display: flex;
     gap: 10px;
     justify-content: space-between;
     align-items: center;
     border-radius: 4px;
     color: #fff;
     background: transparent;
 }





 .solo-games-label,
 .solo-games-value,
 .solo-wins-label,
 .solo-wins-value,
 .solo-kill-label,
 .solo-kill-value,
 .solo-kd-label,
 .solo-kd-value {
     color: #fff;
 }



 .duo-games-label,
 .duo-games-value,
 .duo-wins-label .duo-wins-value,
 .duo-kill-label,
 .duo-kill-value,
 .duo-kd-label,
 .duo-kd-value {
     color: #fff;
 }



 .squad-games-label,
 .squad-games-value,
 .squad-wins-label,
 .squad-wins-value,
 .squad-kill-label,
 .squad-kill-value,
 .squad-kd-label,
 .squad-kd-value {
     color: #fff;
 }


 footer {
     margin: 0 auto;
     width: 90%;
     margin-top: 50px;
     margin-bottom: 50px;
     color: #fff;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 footer .discord-btn {
     background-color: #7289da;
     border: none;
     padding: 10px;
     font-size: 24px;
     border-radius: 12px;
     color: #fff;
     width: 90px;
     cursor: pointer;
 }

 .history {
     padding: 10px;
     display: flex;
     gap: 10px;
     justify-content: space-between;
     background-color: #80af49;
     color: #fff;
     font-weight: bold;
     font-style: italic;
 }

 #history-container {
     margin: 0 auto;
     width: 90%;
     margin-top: 10px;
 }

 #history-icon {
    color: #fff;
     padding: 10px;
     background-color: #343a40;
 }