@import "../../palette.scss";

body > canvas {
    cursor: crosshair;
}

body > #splash-ui {
    display: block;
    background-color: var(--backgroundColor);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}

.fade-out {
    visibility: hidden !important;
    opacity: 0 !important;
    transition: visibility 0.25s ease, opacity 0.25s linear;
}

#game-ui {
    z-index: 1;
}

#health-bar-container {
    pointer-events: none;
    background: $transparent_bg;
    border: 8px solid $transparent_bg;
    border-radius: 8px;
    width: 320px;
    height: 50px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    #health-bar, #health-bar-animation {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 4px;
        height: 100%;
        width: 100%;
    }

    #health-bar {
        background-color: $light;
        transition: width ease-in-out 50ms;
    }

    #health-bar-animation {
        opacity: 40%;
        background: #ff0000;
        transition: width ease-in-out 800ms;
    }
}
