@import "../../palette.scss";
@import "../../utils/animations.scss";

body > canvas {
    cursor: crosshair;
}


#game-ui {
    user-select: none;
    z-index: 1;
}

.ui-leaderboard {
    pointer-events: none;
    position: absolute;
    top: .5rem;
    right: .5rem;
    display: flex;
    background: $transparent_bg;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    padding: .6rem;
    gap: .6rem;

    .divider {
        display: inline-block;
        height: 50px;
        width: 2px;
        background-color: white;
    }

    #ui-alive-text {
        font-family: "Russo One", sans-serif;
        font-size: 32px;
        padding-right: 8px;
        position: relative;
        bottom: -1px;
    }

    #ui-players-alive {
        padding-left: 5px;
        padding-right: 8px;
        font-weight: bold;
        font-size: 50px;
    }
}

#health-bar-container {
    pointer-events: none;
    background: $transparent_bg;
    border: 8px solid $transparent_bg;
    border-radius: 8px;
    width: 320px;
    height: 50px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    #health-bar, #health-bar-animation {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 4px;
        height: 100%;
        width: 100%;
    }

    #health-bar {
        background-color: $light;
        transition: width ease-in-out 50ms;
    }

    #health-bar-animation {
        opacity: 50%;
        background: #ff0000;
        transition: width ease-in-out 800ms;
    }
}

#kill-msg {
    pointer-events: none;
    background: $transparent_bg;
    padding: 10px;
    border-radius: 8px;
    width: 250px;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    #kill-msg-player-name {

    }
    #kill-msg-kills {
        font-weight: bold;
        font-size: xx-large;
        color: $blue;
    }
}

#game-over-screen {
    text-align: center;

    .modal-item {
        margin-bottom: 0px;
    }

    h1, h2 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    #game-over-stats {
        width: 250px;
        margin: auto;
        padding: 20px;
        padding-top: 0px;

        .stat {
            font-weight: bold;
            width: 100%;
            display: flex;
            padding: .5rem 0
        }
        .stat-name {
            text-align: left;
        }
        .stat-value {
            text-align: right;
            margin-left: auto;
        }
    }
}
