@import "../../palette.scss";

#game-ui {
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    cursor: crosshair;
}

#minimap-border {
    position: fixed;
    top: 10px;
    left: 10px;

    width: 270px;
    height: 270px;

    border: 10px solid $transparent_bg;
    border-radius: 10px;

    @media screen and (max-width: $screen_large) {
        top: 5px;
        left: 5px;
        width: 135px;
        height: 135px;
        border-width: 5px;
        border-radius: 5px;
    }
}

#debug-hud {
    position: fixed;
    top: 285px;
    left: 5px;

    @media screen and (max-width: $screen_large) {
        top: 145px;
    }

    margin: 0.4em;
    text-shadow: 1px 1px 2px black;
    font-family: monospace;
}

.ui-leaderboard {
    position: absolute;
    top: 10px;
    right: 10px;

    @media screen and (max-width: $screen_large) {
        top: 5px;
        right: 5px;
    }

    .alive-counter {
        margin-left: auto;
        width: fit-content;
        display: flex;
        background: $transparent_bg;
        border-radius: 8px;
        justify-content: center;
        align-items: center;
        padding: 8px 10px 8px 14px;
        gap: 10px;

        @media screen and (max-width: $screen_large) {
            padding: 4px 5px 4px 8px;
            gap: 5px;
        }

        .divider {
            display: inline-block;
            height: 50px;
            width: 2px;
            background-color: white;

            @media screen and (max-width: $screen_large) {
                height: 25px;
            }
        }

        #ui-alive-text {
            font-family: "Russo One", sans-serif;
            font-size: 32px;
            padding-right: 8px;
            position: relative;
            bottom: -1px;

            @media screen and (max-width: $screen_large) {
                font-size: 16px;
            }
        }

        #ui-players-alive {
            padding-left: 5px;
            padding-right: 8px;
            font-weight: bold;
            font-size: 50px;

            @media screen and (max-width: $screen_large) {
                font-size: 25px;
            }
        }
    }

    #kill-feed {
        max-height: 210px;
        overflow: hidden;

        .kill-feed-item {
            max-width: fit-content;
            padding: 8px 10px 8px 10px;
            margin: 5px 0 5px auto;
            background: $transparent_bg;
            border-radius: 4px;
            font-weight: 600;

            @media screen and (max-width: $screen_large) {
                font-size: 12px;
                padding: 4px 5px 4px 5px;
                margin: 3px 0 3px auto;
            }

            .fa-solid {
                margin-right: 3px;
            }

            .kill-icon {
                position: relative;
                bottom: -2px;
                margin-right: 2px;

                @media screen and (max-width: $screen_large) {
                    width: 12px;
                }
            }
        }

        .kill-feed-item.kill-feed-item-red {
            color: #ff9696;
        }
    }
}

#health-bar-container {
    background: $transparent_bg;
    border: 8px solid $transparent_bg;
    border-radius: 8px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 320px;
    height: 50px;

    @media screen and (max-width: $screen_large) {
        width: 220px;
        height: 40px;
        bottom: 8px;
    }

    display: flex;
    justify-content: flex-start;
    align-items: center;

    #health-bar, #health-bar-animation {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 4px;
        height: 100%;
        width: 100%;
    }

    #health-bar {
        background-color: $light;
        transition: width ease-in-out 50ms;
    }

    #health-bar-animation {
        opacity: 50%;
        background: #ff0000;
        transition: width ease-in-out 800ms;
    }

    #health-bar-percentage {
        font-size: 20px;

        @media screen and (max-width: $screen_large) {
            font-size: 16px;
        }

        color: black;
        filter: invert(1);
        mix-blend-mode: difference;
        margin-left: 8px;
    }
}

#kill-msg {
    background: $transparent_bg;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 320px;

    @media screen and (max-width: $screen_large) {
        width: 220px;
        bottom: 55px;
        font-size: 12px;
    }

    #kill-msg-player-name {
        font-weight: bold;
        color: $orange;
    }

    #kill-msg-kills {
        color: $blue;
        font-weight: bold;
        font-size: 30px;
        margin-bottom: 3px;

        @media screen and (max-width: $screen_large) {
            font-size: 22px;
        }
    }
}

.inventory-container {

    position: absolute;

    display: flex;
    justify-content: space-between;
    gap: 10px;

    @media screen and (max-width: $screen_large) {
        flex-direction: column;
    }

    .inventory-slot {
        background: $light_transparent_bg;
        width: 125px;
        height: 125px;
        border-radius: 10px;

        @media screen and (max-width: $screen_large) {
            width: 75px;
            height: 75px;
        }

        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer !important;

        &:hover {
            outline: 1px solid $orange;
        }

        &.active {
            outline: 3px solid $orange;
            cursor: crosshair !important;
        }
    }

    .slot-number {
        position: absolute;
        top: 5px;
        left: 8px;

        @media screen and (max-width: $screen_large) {
            font-size: 12px;
        }
    }

    .item-image {
        width: 100px;
        height: 100px;

        @media screen and (max-width: $screen_large) {
            width: 50px;
            height: 50px;
        }

        margin-bottom: 15px;
    }

    .item-name {
        display: block;
        text-align: center;
        position: absolute;
        bottom: 5px;

        @media screen and (max-width: $screen_large) {
            font-size: 12px;
        }
    }
}

#weapons-container {
    bottom: 10px;
    right: 10px;

    @media screen and (max-width: $screen_large) {
        bottom: 8px;
        right: 8px;
    }
}

#equipment-container {
    bottom: 10px;
    left: 10px;
}

#game-over-screen {
    text-align: center;

    .modal-item {
        margin-bottom: 0;
    }

    h1, h2 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    #game-over-stats {
        width: 250px;
        margin: auto;
        padding: 20px;
        padding-top: 0;

        .stat {
            font-weight: bold;
            width: 100%;
            display: flex;
            padding: .5rem 0
        }
        .stat-name {
            text-align: left;
        }
        .stat-value {
            text-align: right;
            margin-left: auto;
        }
    }
}

#joysticks-containers {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;

    div {
        height: 100%;
        width: 50%;
        display: flex;
    }
}
