@import "../../palette.scss";
@import "../../utils/dropdown.scss";

#splash-ui {
    display: block;
    position: absolute;

    background-color: $bg;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    opacity: 1;
}

#splash-logo {
    display: flex;
    justify-content: center;

    width: 100%;

    margin-top: 75px;
    margin-bottom: 5px;

    img {
        width: 625px;

        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
    }
}

#splash-modals {
    display: flex;
    justify-content: center;

    width: 100vw;
    max-height: 299px;

    text-align: center;

    font-size: 20px;
}

#splash-news,
#splash-options,
#splash-inventory,
#splash-server-message {
    background: $transparent_bg;

    width: 370px;

    padding: 20px;
    border-radius: 20px;

    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#splash-news, #splash-inventory {
    height: 312px;
}

#splash-news {
    h2 {
        font-size: 18px;
        font-weight: bold;

        color: $orange;
        text-align: center;

        margin-top: 0;
        margin-bottom: 10px;

        a {
            color: inherit;
            text-decoration: inherit;
        }

        a:hover {
            color: #ff9c11;
        }
    }

    ::-webkit-scrollbar-track {
        margin-bottom: 15px;
    }

    > div {
        height: 240px;
        overflow-y: auto;
        padding-right: 10px;

        text-align: left;

        article {
            margin-bottom: 10px;

            .news-date {
                color: gray;
                font-size: 14px;

                margin-top: 5px;
                margin-bottom: 5px;
            }

            .news-title {
                color: white;
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 5px;
            }

            span {
                color: white;
                font-size: 13px;
                margin-bottom: 15px;
            }

            p {
                margin-top: 0;
                font-size: 15px;
                line-height: 130%;
            }
        }
    }
}

#splash-server-message {
    margin-bottom: 15px;

    span {
        color: red;
    }
}

#splash-logo img {
    width: 550px;
    user-select: none;
}

#splash-center {
    margin-right: 15px;
    max-width: 370px;
}

#splash-options {
    width: 100%;

    #username-input {
        background: white;
        color: black;

        width: 100%;
        height: 50px;

        border-radius: 10px;
        border: transparent;

        transition: 0.15s box-shadow;

        font-size: 18px;
        text-align: center;
    }

    #username-input:focus,
    #username-input:active,
    select:focus,
    select:active {
        outline: none;
        box-shadow: 0 1px 9px 6px rgba(255, 117, 0, 0.5);
        -webkit-box-shadow: 0 1px 9px 6px rgba(255, 117, 0, 0.5);
        -moz-box-shadow: 0 1px 9px 6px rgba(255, 117, 0, 0.5);
    }

    #username-input::placeholder {
        font-size: 18px;
    }

    select {
        color: white;

        background: transparent
            url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%23ffffff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m2 5 6 6 6-6%27/%3e%3c/svg%3e")
            no-repeat right 10px center;
        background-size: 15px 15px;
        appearance: none;

        width: 100%;
        height: 50px;
        margin-top: 10px;
        margin-bottom: 10px;

        border-radius: 10px;
        border: 3px solid $orange;

        transition: 0.15s box-shadow;

        font-size: 18px;
        text-align-last: center;
        line-height: 1.5;

        padding: 0.375rem 2.25rem 0.375rem 0.75rem;

        option {
            color: black;
        }
    }

    .btn {
        font-size: 18px;
        width: 100%;
    }
}

#splash-socials {
    margin-top: 14px;
    display: flex;
    justify-content: center;
    gap: 10px;
    background: $transparent_bg;
    padding: 20px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: -10px;
}

#splash-inventory {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;

    color: #ffffff91;
}

#splash-more {
    position: absolute;
    right: 1rem;
    top: 1rem;

    button {
        width: 136px;
    }

    .dropdown-content {
        background: $blue;

        top: 34px;
        right: 0;
    }
}

#splash-settings {
    display: flex;
    position: absolute;

    bottom: 0.5rem;
    right: 0.75rem;

    .btn {
        width: 51px;
        height: 40px;
    }

    *:not(:last-child) {
        margin-right: 5px;
    }
}

#splash-backlinks {
    position: absolute;
    bottom: 1rem;

    font-size: 16px;

    a {
        color: white;
    }
}
