<!DOCTYPE html>
<html>

  <head>
    <title>Suroi - 2D battle royale game</title>
    <link rel="icon" type="image/x-icon" href="<%=require('../assets/img/logos/suroi_small.png')%>">
    <link rel="image" href="<%=require('../assets/img/favicons/favicon-16x16.png')%>">

    <!-- Icons -->
    <script src="https://kit.fontawesome.com/eb28bcc062.js" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <div class="dropdown-more">
      <button onclick="reveal()" class="btn-dropdown-more">More <i class="fa-solid fa-caret-down"></i></button>
      <div id="dropdownMore" class="dropdown-more-content">
        <a href="https://wiki.suroi.io">Wiki  <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
        <a href="https://suroi.io/proxies">Proxies  <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
        <a href="https://suroi.io/leaderboard">Leaderboard  <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
      </div>
    </div>

    <div class="logo-home">
      <img src="<%=require('../assets/img/logos/suroi.svg')%>" alt="Suroi.io">
    </div>


    <div class="menu-column">
      <input class="name-enter" type="text" placeholder="Enter Nickname" minlength="1" maxlength="16">
      <select class="server-cascade" name="subject" id="subject">
        <option value="balls" selected="selected">North America</option>
      </select>
      <button id="playBtn" class="buttonPlay">Play Solo</button>
      <!---
      <button class="buttonPlay">Play Duo</button>
      <button class="button_squads">Play Squads</button>
      <button class="button_Create_party">Create Party</button>
      -->
    </div>

    <div class="top-right-menu">
      <button class="button_topRight"><i class="fa-solid fa-gear"></i></button>
      <button class="button_topRight"><i class="fa-solid fa-earth-americas"></i></button>
    </div>


    <div class="bottom-center-menu">
        <a href="changelog.html">v0.1.0</a>
    </div>
  </body>
</html>
