@import "../palette.scss";

input[type="range"] {
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    border-bottom: 5px solid transparent;

    @mixin input-thumb {
        height: 20px;
        width: 20px;
        border-radius: 100%;
        cursor: pointer;
        border: none;
        background: $orange;
        margin-top: -5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }

    @mixin input-track {
        height: 10px;
        width: 100%;
        cursor: pointer;
        border-radius: 5px;
        background: $light;
    }

    &::-moz-range-thumb {
        @include input-thumb;
    }

    &::-webkit-slider-thumb {
        @include input-thumb;
        margin-top: -5px;
    }

    &::-moz-range-track {
        @include input-track;
    }

    &::-webkit-slider-runnable-track {
        @include input-track;
        background: var(--background);
    }

    &::-moz-range-progress {
        @include input-track;
        background: $orange;
    }

    &:focus {
        outline: none;
        border-color: $blue;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
    }
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    bottom: -2px;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin-top: -1px;
    border-bottom: 2px solid transparent;

    &:after {
        content: '';
        width: 40px;
        height: 20px;
        display: inline-block;
        background: $light;
        border-radius: 18px;
        clear: both;
        transition: background linear 200ms;
    }

    &:before {
        content: '';
        width: 20px;
        height: 20px;
        padding: 2px;
        display: block;
        position: absolute;
        left: -2px;
        top: -2px;
        border-radius: 50%;
        background: $light;
        transition: left linear 200ms;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    }

    &:checked:before {
        left: 20px;
    }

    &:checked:after {
        background: $orange;
    }

    &:focus {
        border-bottom: 4px solid $blue;
    }
}
