// Suroi
$orange:        #ff7500;
$yellow:        #ffff00;
$blue:          #008aff;
$purple:        #6666ff;
$grey:          #555555;

$orange_bg:     #d66200;
$blue_bg:       #007ae4;
$purple_bg:     #4d4dff;
$grey_bg:       #444444;

$bg:                   #3d3e48;
$transparent_bg:       #16161675;
$light_transparent_bg: #c5c5c52a;
$grass_bg:             #5b8939;

// Buttons
$primary:       #0d6efd;
$secondary:     #6c757d;
$success:       #198754;
$info:          #0dcaf0;
$warning:       #ffc107;
$danger:        #dc3545;
$light:         #f8f9fa;
$dark:          #212529;

// Socials
$twitter:       #1da1f2;
$instagram:     #e4405f;
$reddit:        #ff4500;
$discord:       #5865f2;
$youtube:       #ff0000;
$github:        #252525;

$facebook_bg:   #253763;
$twitter_bg:    #1a78b2;
$instagram_bg:  #942b3f;
$reddit_bg:     #c23602;
$discord_bg:    #4049ad;
$youtube_bg:    #8e0000;
$github_bg:     #111111;
